.calculator {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: fit-content;
    background-color: blueviolet;
}

.calculator__input-field {
    height: 1rem;
    width: 100%;
}
