@import 'resets.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

/* general */
html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


/* calculator */
@media screen and (min-width:320px){
    .calculator {
        width: 80%;
    }
}

@media screen and (min-width:481px){
    .calculator {
        width: 65%;
    }
}


@media screen and (min-width:585px){
    .calculator {
        width: 50%;
    }
}

@media screen and (min-width:900px){
    .calculator {
        width: 35%;
    }
}

@media screen and (min-width:1200px){
    .calculator {
        width: 25%;
    }
}

@media screen and (min-width:1400px){
    .calculator {
        width: 20%;
    }
}

.calculator {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: blueviolet;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 3.5rem;
}

.calculator__input-field {
    width: 100%;
    border: 2px solid black;
    text-align: right;
    border-radius: 0.25rem;
}

.calculator__buttons-grid {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.calculator__buttons-grid > .row {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.calculator-button {
    padding: 0 1.5rem;
}